* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  font-size: 16px;
  color: #000000;
}
main {
  margin-top: 1.875rem;
}
h3 {
  max-width: 90%;
  margin: 0 auto 1.25rem;
  line-height: 1.875rem;
  text-align: center;
  font-size: 1.25rem;
}
#log {
  max-width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  line-height: 1.25rem;
}
#log thead {
  text-align: center;
  font-size: 1rem;
}
#log tbody {
  font-size: 0.9375rem;
}
#log th,
#log td {
  line-height: 1.25rem;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #000;
}
#log tr > td:nth-child(1),
#log tr > td:nth-child(3) {
  text-align: center;
}
#log tr > td:nth-child(2) {
  text-align: left;
}
#log p {
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}
#log p:last-child {
  margin-bottom: 0;
}
